pydantic>=2.13.3
pydantic-core>=2.46.3
python-dotenv
langchain
langchain-core
langchain-community
langchain-qdrant
langchain-groq
langchain-huggingface
langchain-text-splitters
pypdf
qdrant-client
sentence-transformers
flask
flask-cors
flask-sqlalchemy
flask-bcrypt
pyjwt
pandas
openpyxl
# Phase 7: Monitoring & Evaluation
ragas
langsmith
openai
datasets
celery
redis
psycopg2-binary
Flask-Migrate
docx2txt
